.sidebar {
    width: 250px;
    transition: width 0.3s;
}

.sidebar.closed {
    width: 0;
    overflow: hidden;
}

.content {
    transition: margin-left 0.3s;
}

.content.sidebar-closed {
    margin-left: 0;
}
.sidebar{
    overflow-y: hidden;
}