Global container styling
.table-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Button and search container styling */
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-container input {
    padding: 10px 20px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ddd;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .search-container input:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
    outline: none;
  }
  
  .search-container .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
  }
  
  .button {
    background-color: #e9eaec;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  
  
  
  
  /* Table and pagination styling */
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-dropdown {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .page-dropdown:focus {
    border-color: #007bff;
    outline: none;
  }
  
  
  
  
  
  
  
  
    
  .pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
  }
  