body {
  font-family: "Roboto", sans-serif;
  background-color: #f8fafb; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }
  

  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #5100f2;
  }
  

  .form{
    margin-bottom: 10px;
  }
  
  .messageError{
    color: red;
  }

  .messageSuccess {
    color: green;
  }

  .symbol-input101 {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0px;
    left: -24px;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    transition: all 0.4s;

  }

.registre_content {
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 1%;
  background-color: rgb(138, 191, 234);
  padding: 1rem 0; }

h2 {
  font-size: 20px; }

@media (max-width: 991.98px) {
  .registre_content .bg {
    height: 500px; } }

.registre_content .registre_contents, .registre_content .bg {
  width: 50%; }
  @media (max-width: 1199.98px) {
    .registre_content .registre_contents, .registre_content .bg {
      width: 100%; } }
  .registre_content .registre_contents .form-group, .registre_content .bg .form-group {
    overflow: hidden;
    margin-bottom: 0;
    padding: 15px 15px;
    border-bottom: none;
    position: relative;
    background: #edf2f5;
    border-bottom: 1px solid #e6edf1; }
    .registre_content .registre_contents .form-group label, .registre_content .bg .form-group label {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .registre_content .registre_contents .form-group input, .registre_content .bg .form-group input {
      background: transparent; }
    .registre_content .registre_contents .form-group.first, .registre_content .bg .form-group.first {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px; }
    .registre_content .registre_contents .form-group.last, .registre_content .bg .form-group.last {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
    .registre_content .registre_contents .form-group label, .registre_content .bg .form-group label {
      font-size: 12px;
      display: block;
      margin-bottom: 0;
      color: #b3b3b3; }
    .registre_content .registre_contents .form-group.focus, .registre_content .bg .form-group.focus {
      background: #fff; }
    .registre_content .registre_contents .form-group.field--not-empty label, .registre_content .bg .form-group.field--not-empty label {
      margin-top: -20px; }
  .registre_content .registre_contents .form-control, .registre_content .bg .form-control {
    margin-bottom: 10px;
    border: none;
    padding: 24px;
    padding-left: 40px;
    font-size: 20px;
    border-radius: 10px; }
    .registre_content .registre_contents .form-control:active, .registre_content .registre_contents .form-control:focus, .registre_content .bg .form-control:active, .registre_content .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

.registre_content .bg {
  background-size: cover;
  background-position: center; }


.registre_content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; }

.registre_content .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #6c63ff; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #847dff; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  registre_content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }
